<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plq.exam.mapper.ExamineeListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.plq.exam.model.entity.ExamineeList">
        <id column="id" property="id" />
        <result column="exam_id" property="examId" />
        <result column="examinee_id" property="examineeId" />
        <result column="submit_status" property="submitStatus" />
        <result column="submit_by" property="submitBy" />
        <result column="submit_time" property="submitTime" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="listQuestion" resultType="java.util.LinkedHashMap">
        select id as questionId, question_content as questionContext, question_score as questionScore
        from exam_question where exam_id=#{examId}
    </select>

    <update id="examineeSubmit">
        update exam_examinee_exam set score=#{score},submit_status='1',submit_time=#{submitTime}
        where examinee_id=#{examineeId} and exam_id=#{examId} and submit_status='0'
    </update>

</mapper>
