<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plq.exam.mapper.QuestionMapper">

    <select id="listQuestion" resultType="java.util.LinkedHashMap">
        select id as questionId, question_content as title, question_score as score
        from exam_question where exam_id=#{examId}
    </select>

</mapper>
